.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.image {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
.image-close {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.switch-button-container {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 5px;
}
.inner-text {
  display: flex;
  flex-direction: column;
}
.handle-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.action-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
  gap: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
